/* Headings on the catalouge page */
span.head{
  text-align: center;
  font-size: 30px !important;
  font-weight: 900 !important;
}
/* changing all of the background color */
body{
  background-color: white !important;
}
.quire-page__header{
  background-color: white !important;
}
.quire #main{
  background-color: white !important;
}
.quire-cover .quire-page__content .container.is-fluid .content{
  background-color:white !important;/* remove the background color for the covers page */
}
/* Title*/
.hero-body .container.is-fluid{
  position: relative !important;/* centers the div */
  margin-top: 55% !important;/* holds the div at bottom of image */
  background-color: transparent !important;/* removes background color of div*/
}
.quire-cover__hero .title{
  font-size: calc(4rem * 1) !important;/* increases title size */
  text-align: center !important;
  font-family: "Proxima Nova" !important;
}
/* Removed leaflet attribution from bottom right corner of the cover images */
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale{
  display: none !important;
}
/* Removes attribution "by ABC" in the menu*/
.quire-menu__header__contributors{
  display: none !important;
}
/*Changes the line height of the cover text*/
.quire-cover .quire-page__content .container.is-fluid .content p{
  line-height: 1.6em !important;
}
@media screen and (min-width: 500px)
.quire-figure.is-pulled-left{
  width:36% !important;
}
div.komai_image{
  width:50% !important;
}
.content .quire-figure.is-pulled-left, .content .quire-figure.is-pulled-right{
  padding:0 !important;
}
.quire-page__content .container .content p{
  line-height: 1.5em !important;
}
.quire-page__content .container .content{
  padding-top:0 !important;
  margin-top: 0 !important;
}
p{
  font-family: "Proxima Nova", helvetica, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  text-align:center !important;
}
h1, h4, h3{
  font-family: "Proxima Nova", helvetic, sans-serif !important;
  font-weight: 900;
}
/*On indv contents pages: changes font of table of contents*/
.quire-contents-list.list, .quire-contents-list.brief{
  font-family:"Proxima Nova", helvetica, sans-serif !important;
  font-weight:400;
}
/*On indv cover pages: changes background color*/
.quire-entry div.side-by-side div.quire-entry__content{
  background-color: white !important;
}
/*On indv cover pages: removes padding from under title*/
.quire-entry__header .container{
  padding-bottom: 0 !important;
}
/*On indv cover pages: removes spacer between title and paragraph*/
.quire-entry__tombstone > div.container{
  padding:0 !important;
  margin:0 !important;
}
/*Changes font for menu*/
.quire:not(.no-js) .quire__secondary.is-expanded #site-menu__inner{
  font-family: "Proxima Nova", helvetica, sans-serif !important;
  font-weight:400;
}
/*Removes colored bored from images*/
.quire-figure{
  border-style: none !important;
}
.quire-page h3{
  font-family: "Proxima Nova" !important;
  font-weight: 700 !important;
  font-style: normal !important;
  text-align:center !important;
}
.quire-page p{
  text-align:left !important;
}
.quire-cover__hero .title
